<br/>
<div class="heading mb-3">
    <div class="main-heading">
        Destination Types
    </div>
    <div class="sub-heading">
        Search Destinations based on your Interest
    </div>
</div>
<br/>
<div id="filter">
    <div class="filter">
        <a class="btn btn-outline-dark"  href="/listings?destType=Adventure">
            <div><i style="color:rgb(166, 0, 255);" class="fa-solid fa-person-hiking"></i></div>
            <p>Adventure</p>
        </a>
    </div>
    <div  class="filter">
        <a class="btn btn-outline-dark" href="/listings?destType=Beaches">
            <div><i style="color:rgb(0, 166, 255);" class="fa-solid fa-person-swimming"></i></div>
            <p>Beaches</p>
        </a>
    </div>
    <div class="filter">
        <a class="btn btn-outline-dark"  href="/listings?destType=Nature">
            <div><i style="color:rgb(40, 185, 108);" class="fa-solid fa-leaf"></i></div>
            <p>Nature</p>
        </a>
    </div>
    <div class="filter">
        <a class="btn btn-outline-dark"  href="/listings?destType=Culture and Heritage">
            <div><i style="color:rgb(21, 123, 123);" class="fa-brands fa-fort-awesome-alt"></i></div>
            <p>Culture and Heritage</p>
        </a>
    </div>
    </div>
    <br/>
    <div id="filter">
    <div class="filter">
        <a class="btn btn-outline-dark" href="/listings?destType=Recreational">
            <div><i style="color:rgb(242, 255, 0);" class="fa-regular fa-face-laugh-beam"></i></div>
            <p>Recreational</p>
        </a>
    </div>
    <div class="filter">
        <a class="btn btn-outline-dark"  href="/listings?destType=Wellness">
            <div><i style="color:rgb(181, 49, 207);" class="fa-solid fa-person-walking"></i></div>
            <p>Wellness</p>
        </a>
    </div>
    <div  class="filter">
        <a class="btn btn-outline-dark" href="/listings?destType=Others">
            <div><i class="fa-solid fa-shapes"></i></div>
            <p>Others</p>
        </a>
    </div>
</div>
<br/>
<hr/>
<br/>