<% layout("/layouts/boilerplate") %>
<head>
    <title>Create New Listing</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/listings">
    <h1 style="background-color:#191970;color:#ffffff;text-align:center;padding:1rem" class="mb-4">Create New Listing</h1>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="mb-4">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Title" class="form-control">
            </div>
            <div class="mb-4">
                <label for="description" class="form-label">Enter the Description</label>
                <textarea name="listing[description]" rows="3" placeholder="About the place" class="form-control"></textarea>
            </div>
            
            <div class="mb-4">
                <label for="image" class="form-label">Upload an Image</label>
                <input type="file" name="image" accept="image/jpeg, image/jpg, image/png" class="form-control">  
            </div>
            <div class="mb-4">
                <label for="image" class="form-label">Approx. Price </label>
                <input type="text" name="listing[price]" placeholder="eg- '2000'" class="form-control">
            </div>
            <div class="mb-4">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Village/Town/City" class="form-control">
            </div>
        
            <div class="mb-4">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" placeholder="eg-'India'" class="form-control">   
            </div>
            <div class="mb-5">
                <button style="background-color:#191970;color:#ffffff" class="btn btn-dark">ADD</button>
            </div>
        </div>
    </div>
    
</form>
</body>
