body{
    font-family: Montserrat,sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content{
    flex:1;
}

/* navbar */
.navbar{
    height: 5rem;
}
.navbar-collapse {
    position: relative; 
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    
  }
.nav-link{
    font-size: 1.05rem;
    color:#222222 !important;
    font-weight: 400;
}

.tag{
    color:#222222;
    font-weight: 300;
    border: 0.02rem solid #c1c1c1;
    border-radius: 1rem;
    background-color: #e1e1ec9b;
    padding: 0.5rem 1rem;
}

.search-btn{
    color: #191970;
}
.search-btn:hover{
    background-color: #191970;
}
.button{
    background-color:#191970 !important;
    color:#ffffff !important;
}
.button:hover{
    background-color:#14145a !important;
    color:#ffffff !important;
}
.btns{
    display: flex;
}

/* Sign up */
.title{
    text-align: center;
}
/* Index page -cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    border-radius: 1rem !important
} 

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important; 
} 

.card-body{
    padding:0.25 rem !important;
}


.listing-link{
    text-decoration: none;
}
.listing-link:hover{
    transform: scale(1.1);
}
/* card effect */
.card-effect{
    opacity: 0;
}
.card-effect:hover{
    opacity: 0.2;
    background-color: #ffffff;
}

/*Show page*/

.show-title{
    color: #ffffff;
    letter-spacing: 0.5rem;
    text-shadow: rgb(0 0 0 / 90%) 0px 8px 8px !important;
    font-weight: 800;
    font-size: 4rem !important;
}

.show-card{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #000080;
}
/* footer */
.f-info{
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #191970;
    color: #ffffff;
    align-items: space-evenly;
}

.f-info-links, .f-info-socials, .f-info-brand{
    padding-top: 1rem;
    padding-bottom: 0.5 rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-socials i:hover{
    font-size: 1.5rem;
    font-weight: 500;
}

.f-info-links a{
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 1rem;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.error{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.heading{
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.main-heading{
    color: #030303;
    text-shadow: rgba(131, 128, 128, 0.9) 0px 1px 1px !important;
    font-weight: 700;
    font-size: 2rem !important;
}

.sub-heading{
    font-style: italic;
    color: #4dc9ef!important;
    font-weight: 700;
    font-family: 'PLAYFAIR DISPLAY';
}

/*Category card*/
.category-card{
    width:600 !important;  
    border: none !important;
    margin-bottom: 2rem;
    border-radius: 1rem !important

}
.cat-overlay-effect{
    color:#ffffff !important;
    text-shadow: rgba(16, 16, 16, 0.9) 0px 8px 8px !important;
    font-weight: 800;
    font-size: 3rem !important;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.cat-overlay-effect:hover {
    color: #4dc9ef !important;
    text-shadow: rgba(16, 16, 16, 0.9) 0px 3px 3px !important;
    transform: scale(1.1);
}

@media (max-width:600px) {
    .show-title{
        letter-spacing: 0.2rem;
        font-weight: 600;
        font-size: 1.75rem !important;
    }
    .review-body-sm{
        font-size: 0.7rem !important;
    }
    .review-name-sm{
        font-size: 0.8rem !important;
    }
    .cat-overlay-effect{
        font-size: 1.75rem !important;
    }
}



@media (max-width:810px)and(min-width:601px)  {
    .show-title{
        letter-spacing: 0.2rem;
        font-weight: 600;
        font-size: 2.5rem !important;
    }
}