<% layout("/layouts/boilerplate") %>
<head>
    <title>Touristic-Login </title>
</head> 
<body>
<form method="post" action="/login" novalidate class="needs-validation">
    <h3 class="title mt-4 mb-5">Login to Explore Touristic</h3>
    <div class="row">
        <div class="col-4 offset-4">
            
            <div class="mb-4">
                <label for="username"  class="form-label">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" class="form-control" required />
                <div class="invalid-feedback">Username required</div>
            </div>
            
            <div class="mb-4">
                <label for="password"  class="form-label">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter a Password" class="form-control" required />
                <div class="invalid-feedback">Password required</div>
            </div>
            <br/>
            <div class="title mb-4">
                New User? &nbsp; <a href="/Signup">Register Now</a>
            </div>

            <div style="text-align:center;" class="mb-5">
                <button class="button btn btn-dark">Login</button>
            </div>
       
        </div>
    </div>
</form>
</body>
