<% layout("/layouts/boilerplate") %>
<body>
    <center><h1 style="color:#fff" class="show-card">Touristic Private Limited - Privacy Policy</h1></center><br>

    <div class="container">
        <p>Effective Date: 25-11-2023</p>
        <hr>
        <p class="mb-3">
            <br/>1. Introduction
            <br/>&emsp;Touristic Private Limited is committed to protecting the privacy of our users. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information when you visit our website and use our services.
        </p>
        <p class="mb-3">
            <br/> 2. Information We Collect
            <br/>&emsp;2.1. Personal Information:
            <br/>&emsp;&emsp;When you create an account, we may collect your name, email address, and other relevant details.
            <br/>&emsp;2.2. User-Generated Content:
            <br/>&emsp;&emsp;Information you provide when posting places, ratings, comments, or other user-generated content.
            <br/>&emsp;2.3. Usage Information:
            <br/>&emsp;&emsp;We may collect information about how you interact with our website, including IP addresses, device information, and browser type.
        </p>
        <p class="mb-3">
            <br/>3. How We Use Your Information
            <br/>&emsp;3.1. Provide Services:
            <br/>&emsp;&emsp;To create and manage user accounts and provide personalized content.
            <br/>&emsp;3.2. Communications:
            <br/>&emsp;&emsp;To communicate with you about your account and updates about our services.
            <br/>&emsp;3.3. User-Generated Content:

            <br/>&emsp;&emsp;To display user-generated content on our website and improve the user experience.
            <br/>&emsp;3.4. Analytics:
            <br/>&emsp;&emsp;To analyze website usage, trends, and gather demographic information to improve our services.
        </p>
        <p class="mb-3">
            <br/>4. Information Sharing

            <br/>&emsp;4.1. Third-Party Service Providers:

            <br/>&emsp;&emsp;We may share information with third-party service providers to facilitate analytics, and other services.
            <br/>&emsp;4.2. Legal Compliance:

            <br/>&emsp;&emsp;We may disclose information if required by law or in response to legal requests.
        </p>
        <p class="mb-3">
            <br/>5. Your Choices

            <br/>&emsp;5.1. Account Information:

            <br/>&emsp;&emsp;You can review and update your account information at any time.
            <br/>&emsp;5.2. Communication Preferences:

            <br>&emsp;You can manage your communication preferences or opt-out of certain communications.
        </p>
        <p class="mb-3">
            <br/>6. Security

            <br/>&emsp;6.1. We implement security measures to protect your personal information, but no method of transmission over the internet is completely secure.
        </p>
        <p class="mb-3">
            <br/> 7. Children's Privacy

            <br/>&emsp;7.1. Our services are not intended for individuals under the age of 13. We do not knowingly collect personal information from children.
        </p>
        <p class="mb-3">
            <br/>8. Changes to this Privacy Policy

            <br/>&emsp;8.1. We may update this Privacy Policy from time to time. Changes will be effective upon posting on the website.
        </p>
        <p class="mb-3">
            <br/>9. Contact Us

            <br/>&emsp;If you have any questions or concerns about this Privacy Policy, please contact us at [contact@touristic.com].
        </p>
        <p class="mb-3">
            <br/>By using our website and services, you consent to the practices described in this Privacy Policy.
        </p><br>
    </div>
</body>